---
// src/components/admin/AdminFooter.astro
// Minimal footer for the admin section — theme toggle and copyright only.
import ThemeToggle from "./../ThemeToggle.astro";
import { siteConfig } from "@/lib/site-config";

const currentYear = new Date().getFullYear();
---

<footer
    class="p-4 pb-32 md:pb-4 w-full bg-(--surface-secondary) border-4 border-(--border-secondary) border-t-0 z-0"
>
    <div
        class="flex flex-col-reverse md:flex-row justify-between items-center gap-4 py-2"
    >
        <div
            class="flex flex-col-reverse md:flex-row gap-4 md:gap-6 items-center w-full"
        >
            <small class="block text-sm self-start md:self-auto">
                &copy;{currentYear}
                {siteConfig.name}, all rights reserved
            </small>
        </div>
        <div class="self-end -mb-10 md:mb-0">
            <ThemeToggle />
        </div>
    </div>
</footer>
