---
// src/pages/shop/index.astro
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section>
    <div class="flex flex-row justify-between w-full items-baseline p-4">
      <h2
        class="font-display font-medium text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl leading-[0.8] text-content-heading"
      >
        The Shop
      </h2>
    </div>
  </section>
</Layout>
