---
// src/pages/shop/index.astro
import Layout from "@/layouts/Layout.astro";
---

<Layout title="The Shop | El Camino">
  <section>
    <div class="flex flex-row justify-between w-full items-baseline p-4">
      <h1
        class="font-display font-black text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl leading-[0.8] text-content-heading my-4 lg:my-0"
      >
        The Shop
      </h1>
    </div>
  </section>
</Layout>
