---
// src/pages/shop/skate-team.astro
import Layout from "@/layouts/Layout.astro";
---

<Layout title="The Shop - Skate Team | El Camino">
  <section>
    <div class="flex flex-row justify-between w-full items-baseline p-4">
      <h1
        class="font-display font-black text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl leading-[0.8] text-content-heading"
      >
        Skate Team
      </h1>
    </div>
  </section>
</Layout>
