---
// src/components/blocks/VideoBlock.astro
import VideoPlayer from "./VideoPlayer.astro";
import type { ComponentSharedVideo } from "@/lib/types/strapi";

interface Props {
  block: ComponentSharedVideo;
}

const { block } = Astro.props;
---

<div class="my-8">
  <VideoPlayer url={block.url} title={block.title} />
  {
    block.description && (
      <p class="mt-4 text-sm text-content-meta">{block.description}</p>
    )
  }
</div>
