---
import Layout from "../layouts/Layout.astro";
import PromoCard from "../components/PromoCard.astro";
import Sidebar from "../components/Sidebar.astro";
---

<Layout title="El Camino Skate Shop">
  <main>
    <div
      class="card-grid grid justify-center grid-cols-6 2xl:grid-cols-8 md:auto-rows-[10vw] 2xl:auto-rows-[8vw] max-w-[100rem] mx-auto gap-1 p-1"
    >
      <PromoCard
        title="Polar Skate Co"
        pretitle="Just in"
        description="New boards, apparel, and more from our friends at Polar."
        src="/images/promo-img-01.png"
        label="Shop Polar"
        url="travishall.design"
        banner
      />
      <PromoCard
        title="Dickies Skateboarding Guy Mariano Collection"
        pretitle="Introducing"
        description="Now available in store and online."
        src="/images/promo-img-02.png"
        label="Shop the Collection"
        url="travishall.design"
      />
      <PromoCard
        title="GX1000"
        pretitle="Bomb hills not countries"
        description="New boards from GX1000 now in stock!"
        src="/images/promo-img-03.png"
        label="Shop GX100"
        url="travishall.design"
      />
      <PromoCard
        title="Vans Skate AVE 2.0"
        pretitle=""
        description=""
        src="/images/promo-img-04.png"
        label="Shop Vans AVE 2.0"
        url="travishall.design"
      />
      <PromoCard
        title="New Balance 480s"
        pretitle="Now in stock"
        description=""
        src="/images/promo-img-05.png"
        label="Shop New Balance"
        url="travishall.design"
      />
      <PromoCard
        title="Tyshawn II"
        pretitle="Adidas"
        description=""
        src="/images/promo-img-06.png"
        label="Shop Adidas"
        url="travishall.design"
      />
      <PromoCard />
      <PromoCard />

      <!-- SIDEBAR -->
      <Sidebar />
    </div>
  </main>
</Layout>
