---
import Layout from "../layouts/Layout.astro";
import PromoCard from "../components/PromoCard.astro";
---

<Layout title="El Camino Skate Shop">
  <main>
    <div
      class="card-grid grid justify-center grid-cols-6 2xl:grid-cols-8 md:auto-rows-[8vw] gap-1 p-1"
    >
      <PromoCard
        title="Polar Skate Co"
        pretitle="Just in"
        description="New boards, apparel, and more from our friends at Polar."
        src="/images/promo-img-01.png"
        label="Shop Polar"
        url="travishall.design"
        banner
      />
      <PromoCard
        title="Dickies Skateboarding Guy Mariano Collection"
        pretitle="Introducing"
        description="Now available in store and online."
        src="/images/promo-img-02.png"
        label="Shop the Collection"
        url="travishall.design"
      />
      <PromoCard
        title="GX1000"
        pretitle="Bomb hills not countries"
        description="New boards from GX1000 now in stock!"
        src="/images/promo-img-03.png"
        label="Shop GX100"
        url="travishall.design"
      />
      <PromoCard
        title="Vans Skate AVE 2.0"
        pretitle=""
        description=""
        src="/images/promo-img-04.png"
        label="Shop Vans AVE 2.0"
        url="travishall.design"
      />
      <PromoCard
        title="New Balance 480s"
        pretitle="Now in stock"
        description=""
        src="/images/promo-img-05.png"
        label="Shop New Balance"
        url="travishall.design"
      />
      <PromoCard
        title="Tyshawn II"
        pretitle="Adidas"
        description=""
        src="/images/promo-img-06.png"
        label="Shop Adidas"
        url="travishall.design"
      />

      <!-- SIDEBAR -->
      <aside
        class="sidebar col-span-full md:col-span-2 md:col-start-1 md:row-span-12 md:row-start-5 flex flex-col gap-1 p-12 sm:p-32 md:p-24 lg:p-16 xl:p-24"
      >
        <h3 class="font-display py-8 px-2 border-b-4 border-fig-leaf-500">
          Shop by Category
        </h3>
        <a href="#0" class="category-link block relative">
          <img
            src="/images/category-skateboarding.png"
            alt=""
            class="category-img object-cover w-full h-auto"
          />
          <h4
            class="category-title font-display absolute bottom-0 p-8 w-3/4 border-b-4 border-fig-leaf-500"
          >
            Skateboarding
          </h4>
        </a>
        <a href="#0" class="category-link block relative">
          <img
            src="/images/category-footwear.png"
            alt=""
            class="category-img object-cover w-full h-auto"
          />
          <h4
            class="category-title font-display absolute bottom-0 p-8 w-3/4 border-b-4 border-fig-leaf-500"
          >
            Footwear
          </h4>
        </a>
        <a href="#0" class="category-link block relative">
          <img
            src="/images/category-apparel.png"
            alt=""
            class="category-img object-cover w-full h-auto"
          />
          <h4
            class="category-title font-display absolute bottom-0 p-8 w-3/4 border-b-4 border-fig-leaf-500"
          >
            Apparel
          </h4>
        </a>
        <a href="#0" class="category-link block relative">
          <img
            src="/images/category-accessories.png"
            alt=""
            class="category-img object-cover w-full h-auto"
          />
          <h4
            class="category-title font-display absolute bottom-0 p-8 w-3/4 border-b-4 border-fig-leaf-500"
          >
            Accessories
          </h4>
        </a>
      </aside>
    </div>
  </main>
</Layout>
