---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<Layout title="El Camino Skate Shop">
  <main>
    <ThemeToggle />
  </main>
</Layout>
