---
import Layout from "@/layouts/Layout.astro";
import ProductCard from "@/components/ProductCard.astro";
import type { ArticlesResponse } from "@/lib/types/content";
import type { Product } from "@/lib/square/types";
import { fetchProducts } from "@/lib/square/client";
import ArticleGrid from "@/components/ArticleGrid.astro";
import { fetchGraphQL } from "@/lib/graphql";
import { GET_RECENT_ARTICLES } from "@/lib/queries";

let products: Product[] = [];
let recentArticles: ArticlesResponse['articles'] = [];

try {
  console.log("Fetching Square products...");
  products = await fetchProducts();
  console.log("Products fetched successfully:", products.length);
} catch (error) {
  console.error("Error fetching products:", error);
}

try {
  const response = await fetchGraphQL<ArticlesResponse>(GET_RECENT_ARTICLES, {
    limit: 6,
  });
  recentArticles = response.articles;
} catch (error) {
  console.error("Error fetching articles:", error);
}
---

<Layout title="El Camino Skate Shop">
  <section>
    <ArticleGrid articles={recentArticles} featured={true} />
    {
      products.length > 0 && (
        <div class="flex flex-col md:flex-row p-4 md:p-8 lg:pt-12 xl:pt-16">
          <h2 class="align-bottom font-display font-black text-6xl md:text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl leading-[0.8] text-content-heading">
            Products
          </h2>
        </div>
        <div class="card-grid grid justify-center grid-cols-6 xl:grid-cols-8 2xl:grid-cols-10 max-w-[120rem] mx-auto gap-1 p-1">
          {products.map((product) => (
            <ProductCard product={product} />
          ))}
        </div>
      )
    }
  </section>
</Layout>