---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="El Camino Skate Shop">
  <main>
    <section class="p-8">
      <Icon class="w-48 h-auto my-2" name="Logo" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Account" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Cart" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Close-Icon" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Down-Caret" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Facebook" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Instagram" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Menu-Icon" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Moon" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Search" />
      <Icon class="h-8 w-8 m-1 inline-block" name="Sun" />
      <Icon class="h-8 w-8 m-1 inline-block" name="YouTube" />
    </section>
    <section class="p-8">
      <h1 class="font-display font-black text-9xl">9xl Text</h1>
      <h2 class="font-display font-black text-8xl">8xl Text</h2>
      <h3 class="font-display font-black text-7xl">7xl Text</h3>
      <h4 class="font-display font-black text-6xl">6xl Text</h4>
      <h5 class="font-display font-black text-5xl">5xl Text</h5>
      <h6 class="font-display font-black text-4xl">4xl Text</h6>
      <p class="text-base">Paragraphy</p>
    </section>
    <section class="p-8">
      <Button>Button</Button>
      <Button variant="secondary">Button</Button>
      <Button variant="outline">Button</Button>

      <br />
      <br />

      <Button size="sm">Button</Button>
      <Button>Button</Button>
      <Button size="lg">Button</Button>

      <br />
      <br />

      <Button variant="secondary" size="sm">Button</Button>
      <Button variant="secondary">Button</Button>
      <Button variant="secondary" size="lg">Button</Button>

      <br />
      <br />

      <Button variant="outline" size="sm">Button</Button>
      <Button variant="outline">Button</Button>
      <Button variant="outline" size="lg">Button</Button>
    </section>
    <section class="p-8">
      <ThemeToggle />
    </section>
  </main>
</Layout>
