---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="El Camino Skate Shop">
  <section class="p-8">
    <h1
      class="font-display font-black text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: 5xl - 9xl Text
    </h1>
    <h2
      class="font-display font-black text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl"
    >
      Heading Level Two: 4xl - 8xl Text
    </h2>
    <h3
      class="font-display font-black text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl"
    >
      Heading Level Three: 3xl - 7xl Text
    </h3>
    <h4
      class="font-display font-black text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl"
    >
      Heading Level Four: 2xl - 6xl Text
    </h4>
    <h5
      class="font-display font-black text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl"
    >
      Heading Level Five: xl - 5xl Text
    </h5>
    <h6
      class="font-display font-black text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl"
    >
      Heading Level Six: lg - 4xl Text
    </h6>
    <p class="text-base">
      Paragraph text. Etiam porta sem malesuada magna mollis euismod. Morbi leo
      risus, porta ac consectetur ac, vestibulum at eros.
    </p>

    <br />
    <br />
    <h1
      class="font-display-italic font-black text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Italic
    </h1>
    <h2
      class="font-display-italic font-black text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl"
    >
      Heading Level Two: Italic
    </h2>
    <h3
      class="font-display-italic font-black text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl"
    >
      Heading Level Three: Italic
    </h3>
    <h4
      class="font-display-italic font-black text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl"
    >
      Heading Level Four: Italic
    </h4>
    <h5
      class="font-display-italic font-black text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl"
    >
      Heading Level Five: Italic
    </h5>
    <h6
      class="font-display-italic font-black text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl"
    >
      Heading Level Six: Italic
    </h6>
    <p class="text-base italic">
      Paragraph text. Etiam porta sem malesuada magna mollis euismod. Morbi leo
      risus, porta ac consectetur ac, vestibulum at eros.
    </p>

    <br />
    <br />

    <h1
      class="font-display font-black text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Black
    </h1>
    <h1
      class="font-display font-extrabold text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Extra Bold
    </h1>
    <h1
      class="font-display font-bold text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Bold
    </h1>
    <h1
      class="font-display font-semibold text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Semibold
    </h1>
    <h1
      class="font-display font-medium text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Medium
    </h1>
    <h1
      class="font-display font-regular text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Regular
    </h1>
    <h1
      class="font-display font-light text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Light
    </h1>
    <h1
      class="font-display font-extralight text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Extra Light
    </h1>
    <h1
      class="font-display font-thin text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
    >
      Heading Level One: Thin
    </h1>
  </section>
  <section class="p-8">
    <Button>Button</Button>
    <Button variant="secondary">Button</Button>
    <Button variant="outline">Button</Button>

    <br />
    <br />

    <Button size="sm">Button</Button>
    <Button>Button</Button>
    <Button size="lg">Button</Button>

    <br />
    <br />

    <Button variant="secondary" size="sm">Button</Button>
    <Button variant="secondary">Button</Button>
    <Button variant="secondary" size="lg">Button</Button>

    <br />
    <br />

    <Button variant="outline" size="sm">Button</Button>
    <Button variant="outline">Button</Button>
    <Button variant="outline" size="lg">Button</Button>
  </section>
  <section class="p-8">
    <h1 class="my-8">ELCO Color Swatches</h1>

    <div class="color-group">
      <h2 class="mb-8">Beeswax</h2>
      <div class="swatch-container">
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-50));"
          >
          </div>
          <span class="swatch-label">50</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-100));"
          >
          </div>
          <span class="swatch-label">100</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-200));"
          >
          </div>
          <span class="swatch-label">200</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-300));"
          >
          </div>
          <span class="swatch-label">300</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-400));"
          >
          </div>
          <span class="swatch-label">400</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-500));"
          >
          </div>
          <span class="swatch-label">500</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-600));"
          >
          </div>
          <span class="swatch-label">600</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-700));"
          >
          </div>
          <span class="swatch-label">700</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-800));"
          >
          </div>
          <span class="swatch-label">800</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-beeswax-900));"
          >
          </div>
          <span class="swatch-label">900</span>
        </div>
      </div>
    </div>

    <div class="color-group">
      <h2 class="mb-8">Black Pearl</h2>
      <div class="swatch-container">
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-50));"
          >
          </div>
          <span class="swatch-label">50</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-100));"
          >
          </div>
          <span class="swatch-label">100</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-200));"
          >
          </div>
          <span class="swatch-label">200</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-300));"
          >
          </div>
          <span class="swatch-label">300</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-400));"
          >
          </div>
          <span class="swatch-label">400</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-500));"
          >
          </div>
          <span class="swatch-label">500</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-600));"
          >
          </div>
          <span class="swatch-label">600</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-700));"
          >
          </div>
          <span class="swatch-label">700</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-800));"
          >
          </div>
          <span class="swatch-label">800</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-black-pearl-900));"
          >
          </div>
          <span class="swatch-label">900</span>
        </div>
      </div>
    </div>

    <div class="color-group">
      <h2 class="mb-8">Fig Leaf</h2>
      <div class="swatch-container">
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-50));"
          >
          </div>
          <span class="swatch-label">50</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-100));"
          >
          </div>
          <span class="swatch-label">100</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-200));"
          >
          </div>
          <span class="swatch-label">200</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-300));"
          >
          </div>
          <span class="swatch-label">300</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-400));"
          >
          </div>
          <span class="swatch-label">400</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-500));"
          >
          </div>
          <span class="swatch-label">500</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-600));"
          >
          </div>
          <span class="swatch-label">600</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-700));"
          >
          </div>
          <span class="swatch-label">700</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-800));"
          >
          </div>
          <span class="swatch-label">800</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-fig-leaf-900));"
          >
          </div>
          <span class="swatch-label">900</span>
        </div>
      </div>
    </div>

    <div class="color-group">
      <h2 class="mb-8">Honey Cream</h2>
      <div class="swatch-container">
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-50));"
          >
          </div>
          <span class="swatch-label">50</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-100));"
          >
          </div>
          <span class="swatch-label">100</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-200));"
          >
          </div>
          <span class="swatch-label">200</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-300));"
          >
          </div>
          <span class="swatch-label">300</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-400));"
          >
          </div>
          <span class="swatch-label">400</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-500));"
          >
          </div>
          <span class="swatch-label">500</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-600));"
          >
          </div>
          <span class="swatch-label">600</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-700));"
          >
          </div>
          <span class="swatch-label">700</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-800));"
          >
          </div>
          <span class="swatch-label">800</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-honey-cream-900));"
          >
          </div>
          <span class="swatch-label">900</span>
        </div>
      </div>
    </div>

    <div class="color-group">
      <h2 class="mb-8">Sweet Tea</h2>
      <div class="swatch-container">
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-50));"
          >
          </div>
          <span class="swatch-label">50</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-100));"
          >
          </div>
          <span class="swatch-label">100</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-200));"
          >
          </div>
          <span class="swatch-label">200</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-300));"
          >
          </div>
          <span class="swatch-label">300</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-400));"
          >
          </div>
          <span class="swatch-label">400</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-500));"
          >
          </div>
          <span class="swatch-label">500</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-600));"
          >
          </div>
          <span class="swatch-label">600</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-700));"
          >
          </div>
          <span class="swatch-label">700</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-800));"
          >
          </div>
          <span class="swatch-label">800</span>
        </div>
        <div class="swatch">
          <div
            class="color-box"
            style="background-color: hsl(var(--elco-sweet-tea-900));"
          >
          </div>
          <span class="swatch-label">900</span>
        </div>
      </div>
    </div>
  </section>
  <section class="p-8">
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:angle-down" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:angle-left" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:angle-right" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:angle-up" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:cloud-moon" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:cloud-sun" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:envelope" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:facebook" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:instagram-alt" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:fast-mail" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:map-marker" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:moon" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:mountains-sun" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:search" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:shopping-cart" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:sun" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:user" />
    <Icon class="h-8 w-8 m-1 inline-block" name="uil:youtube" />
  </section>
  <section class="p-8">
    <h1
      class="font-display font-black text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mb-8"
    >
      Shop Sites
    </h1>
    <ul>
      <li class="mb-2">
        <a
          href="https://familiaskate.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Familia</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://upriseskateshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Uprise</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.theblockskatesupply.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >The Block Skate Supply*</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://marriageskateshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Marriage</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.ceremonyskateshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Ceremony*</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.iconboardshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Icon</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://shop.atlasskateboarding.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Atlas</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://laborskateshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Labor</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://humiditynola.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Humidity</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://recessrideshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Recess</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://blacksheepskateshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Black Sheep</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.homeskateshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Home</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.firstgearskateshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >First Gear</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://vuskateboardshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white">Vu</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://thepremierstore.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Premier</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.anticsskateshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Antics*</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.central-boardshop.com/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Central (Wausau)*</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.dlxsf.com/ssd-2024/"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >DLX Skate Shop Day 2024 List</a
        >
      </li>
    </ul>
    <small class="block my-8">*Uses Square</small>
  </section>

  <section class="p-8">
    <h1
      class="font-display font-black text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mb-8"
    >
      El Camino Prototype Links
    </h1>
    <ul>
      <li class="mb-2">
        <a
          href="https://www.figma.com/proto/l3hOw9t5wlZVLmvMyiUDn8/EC-Microsite?node-id=0-1&t=CtkG0OIWku9WrUHh-1"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Concept One - Desktop</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.figma.com/proto/l3hOw9t5wlZVLmvMyiUDn8/EC-Microsite?node-id=300-2485&t=CtkG0OIWku9WrUHh-1"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Concept One - Mobile</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.figma.com/proto/l3hOw9t5wlZVLmvMyiUDn8/EC-Microsite?node-id=319-2668&t=CtkG0OIWku9WrUHh-1"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Concept Two - Desktop</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.figma.com/proto/l3hOw9t5wlZVLmvMyiUDn8/EC-Microsite?node-id=414-3177&t=CtkG0OIWku9WrUHh-1"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Concept Two - Mobile</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.figma.com/proto/l3hOw9t5wlZVLmvMyiUDn8/EC-Microsite?node-id=431-3468&t=CtkG0OIWku9WrUHh-1"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Concept Three - Desktop</a
        >
      </li>
      <li class="mb-2">
        <a
          href="https://www.figma.com/proto/l3hOw9t5wlZVLmvMyiUDn8/EC-Microsite?node-id=704-150&t=CtkG0OIWku9WrUHh-1"
          target="_blank"
          class="underline hover:no-underline text-black dark:text-white"
          >Concept Three - Mobile</a
        >
      </li>
    </ul>
  </section>
</Layout>

<style>
  .color-group {
    margin-bottom: 30px;
  }

  .swatch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .swatch {
    width: 80px;
    text-align: center;
  }

  .color-box {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .swatch-label {
    font-size: 14px;
  }
</style>
