---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  size?: "sm" | "md" | "lg";
  classes?: string;
  variant?: "primary" | "secondary" | "outline";
}

const {
  type = "button",
  size = "md",
  variant = "primary",
  classes,
  ...rest
} = Astro.props;
---

<button
  {type}
  data-size={size}
  data-variant={variant}
  class:list={[
    "font-sans font-semibold transition-all ease-in-out duration-300 border-2 rounded-[4px] focus:ring outline-0 ring-offset-2",
    variant === "primary" &&
      "text-beeswax-50 dark:text-fig-leaf-900 bg-fig-leaf-500 dark:bg-sweat-tea-300 hover:bg-fig-leaf-500/75 hover:dark:bg-sweat-tea-300/75 border-fig-leaf-500 dark:border-sweat-tea-300 ring-fig-leaf-500 dark:ring-sweat-tea-300 ring-offset-sweat-tea-50 dark:ring-offset-fig-leaf-900",
    variant === "secondary" &&
      "text-beeswax-50 dark:text-black bg-black-pearl-900 dark:bg-beeswax-50 hover:bg-black-pearl-900/75 hover:dark:bg-beeswax-50/75 border-black-pearl-900 dark:border-beeswax-50 ring-black-pearl-900 dark:ring-beeswax-50 ring-offset-sweat-tea-50 dark:ring-offset-fig-leaf-900",
    variant === "outline" &&
      "text-black dark:text-beeswax-50 bg-black-pearl-900/00 dark:bg-beeswax-50/00 hover:bg-black-pearl-900/25 hover:dark:bg-beeswax-50/25 border-black dark:border-beeswax-50 ring-black-pearl-900 dark:ring-beeswax-50 ring-offset-sweat-tea-50 dark:ring-offset-fig-leaf-900",
    size === "sm" && "text-xs py-2 px-3",
    size === "md" && "text-base py-2 px-4",
    size === "lg" && "text-xl py-3 px-5",
    classes,
  ]}
  {...rest}
>
  <slot />
</button>
