---
import { Icon } from "astro-icon/components";
import { getFooterPages } from "@/lib/strapi/api";

const currentYear = new Date().getFullYear();
const footerPages = await getFooterPages();
---

<footer
  class="p-4 md:p-8 lg:p-12 w-full bg-surface-secondary border-4 border-border-secondary"
>
  <div class="flex flex-col items-start lg:flex-row lg:justify-between my-8">
    <div
      class="footer-logo flex flex-row items-center justify-center border border-elco-fig-leaf-900 dark:border-elco-honey-cream-50 mb-8"
    >
      <Icon
        name="Icon"
        class="w-20 h-auto p-4 text-elco-honey-cream-100 dark:text-elco-fig-leaf-900 bg-elco-fig-leaf-900 dark:bg-elco-honey-cream-50"
      />
      <p class="max-w-[18ch] px-4 leading-5 text-balance text-content-body">
        100% Skater Owned, 100% Skater Operated
      </p>
    </div>

    <div class="flex flex-col justify-end">
      <address
        class="flex flex-col gap-2 mb-4 uppercase not-italic place-items-start lg:place-items-end text-content-body"
      >
        <span>El Camino Skateboard Shop</span>
        <span class="mb-4">1901 Brackett Ave #1, Eau Claire, WI 54701</span>
        <a
          href="tel:(534)626-1991"
          class="hover:underline decoration-double underline-offset-4 decoration-ui-button-surface transition-all"
        >
          (534) 626-1991
        </a>
        <a
          href="mailto:elcaminoboardshop@gmail.com"
          class="hover:underline decoration-double underline-offset-4 decoration-ui-button-surface transition-all"
        >
          elcaminoboardshop@gmail.com
        </a>
      </address>

      <ul class="inline-flex flex-row lg:self-end gap-2">
        <li>
          <a
            href="https://www.facebook.com/people/El-Camino-Skateshop/61553258934455/"
            target="_blank"
          >
            <Icon name="uil:facebook" class="w-6 h-auto text-content-body" />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/elcaminoskateshop/"
            target="_blank"
          >
            <Icon name="uil:instagram" class="w-6 h-auto text-content-body" />
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=9wx1kwv_qlc" target="_blank">
            <Icon name="uil:youtube" class="w-6 h-auto text-content-body" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="copyright flex flex-col gap-2 md:flex-row justify-between md:items-end xl:items-center"
  >
    <ul class="flex flex-col md:flex-row gap-2 lg:gap-6 mb-8 md:mb-0">
      {
        footerPages?.length > 0 &&
          footerPages.map((page) => (
            <li>
              <a
                href={`/${page.slug}`}
                class="text-sm hover:underline decoration-double underline-offset-4 decoration-ui-button-surface transition-all"
              >
                {page.title}
              </a>
            </li>
          ))
      }
    </ul>
    <small class="md:text-right text-content-body">
      &copy;{currentYear} El Camino Skateboard Shop, all rights reserved
    </small>
  </div>
</footer>
