---
import ThemeToggle from "./ThemeToggle.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <div
    class="p-4 md:p-8 lg:p-12 xl:p-16 w-11/12 md:w-2/3 bg-beeswax-100 dark:bg-fig-leaf-800"
  >
    <div class="copyright flex flex-col gap-2 md:flex-row justify-between">
      <ThemeToggle />
      <small
        >&copy;{currentYear} El Camino Skate Shop, all rights reserved</small
      >
    </div>
  </div>
</footer>
