---
import { Icon } from "astro-icon/components";
import ThemeToggle from "./ThemeToggle.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <div
    class="p-4 md:p-8 lg:p-12 xl:p-16 w-11/12 lg:w-2/3 2xl:w-3/4 bg-beeswax-200 dark:bg-fig-leaf-800 border-4 border-beeswax-100 dark:border-fig-leaf-900"
  >
    <div class="flex flex-col xl:flex-row xl:justify-between items-start">
      <div
        class="footer-logo flex flex-row items-center justify-center border border-fig-leaf-800 dark:border-honey-cream-50 mb-12"
      >
        <Icon
          name="Icon"
          class="w-20 h-auto p-4 text-honey-cream-50 dark:text-fig-leaf-900 bg-fig-leaf-800 dark:bg-honey-cream-50"
        />
        <p class="max-w-[18ch] px-4 leading-5 text-balance">
          100% Skater owned, 100% Skater operated
        </p>
      </div>

      <address
        class="flex flex-col xl:text-right gap-0 mb-12 uppercase not-italic"
      >
        <span>El Camino Skateboard Shop</span>
        <span class="mb-4">1901 Brackett Ave #1, Eau Claire, WI 54701</span>
        <a
          href="tel:(534)626-1991"
          class="hover:font-black hover:tracking-wide transition-all"
          >Phone : (534) 626-1991</a
        >
        <a
          href="mailto:elcaminoboardshop@gmail.com"
          class="hover:font-black hover:tracking-wide transition-all"
          >Email : elcaminoboardshop@gmail.com</a
        >
      </address>
    </div>

    <ul class="flex flex-row gap-2 mb-8">
      <li>
        <a
          href="https://www.facebook.com/people/El-Camino-Skateshop/61553258934455/"
          target="_blank"
        >
          <Icon
            name="uil:facebook"
            class="w-6 h-auto text-fig-leaf-900 dark:text-honey-cream-50"
          />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/elcaminoskateshop/" target="_blank">
          <Icon
            name="uil:instagram"
            class="w-6 h-auto text-fig-leaf-900 dark:text-honey-cream-50"
          />
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=9wx1kwv_qlc" target="_blank">
          <Icon
            name="uil:youtube"
            class="w-6 h-auto text-fig-leaf-900 dark:text-honey-cream-50"
          />
        </a>
      </li>
      <li class="pl-2">
        <ThemeToggle />
      </li>
    </ul>
    <div
      class="copyright flex flex-col gap-2 md:flex-row justify-between items-center"
    >
      <ul class="flex flex-col xl:flex-row xl:gap-4 mb-12 xl:mb-0">
        <li class="mb-1">
          <a href="/styleguide" class="text-sm hover:underline transition-all"
            >Exchange/Refund Policy</a
          >
        </li>
        <li class="mb-1">
          <a href="/styleguide" class="text-sm hover:underline transition-all"
            >Shipping Policy</a
          >
        </li>
        <li class="mb-1">
          <a href="/styleguide" class="text-sm hover:underline transition-all"
            >Privacy Policy</a
          >
        </li>
        <li class="mb-1">
          <a href="/styleguide" class="text-sm hover:underline transition-all"
            >Terms of Service</a
          >
        </li>
      </ul>
      <small
        >&copy;{currentYear} El Camino Skate Shop, all rights reserved</small
      >
    </div>
  </div>
</footer>
