---
import Nav from "@/components/Nav.astro";
import { Icon } from "astro-icon/components";
import CartButton from "./CartButton.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<header
  class="flex flex-col lg:flex-row items-center justify-between p-4 gap-4 md:p-2 -mb-1 sticky top-0 z-50 border-4 border-border-secondary bg-surface-secondary"
>
  <a href="/" class="flex self-start md:self-center md:justify-start" aria-label="Home Link">
    <Icon
      name="Logo"
      class="w-44 md:w-56 h-auto p-2 text-content-body"
      title="Go Home to El Camino"
    />
  </a>

  <Nav />

  <div class="utility-menu absolute lg:relative top-2 lg:top-auto right-2 lg:right-auto flex gap-2">
    <CartButton />
    <ThemeToggle />
  </div>
</header>
