---
import Nav from "@/components/Nav.astro";
import { Icon } from "astro-icon/components";
import CartButton from "./CartButton.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<header
  class="flex flex-col lg:flex-row p-4 gap-4 lg:p-2 -mb-1 sticky top-0 z-50 border-4 border-border-secondary bg-surface-secondary"
>
  <a href="/" class="flex" aria-label="Home Link">
    <Icon
      name="Logo"
      class="w-56 h-auto p-2 text-content-body"
      title="Go Home to El Camino"
    />
  </a>

  <Nav />

  <div class="utility-menu flex gap-2 content-end">
    <CartButton />
    <ThemeToggle />
  </div>
</header>
