---
import Nav from "@/components/Nav.astro";
import { Icon } from "astro-icon/components";
---

<header
  class="flex flex-col place-items-center pt-8 gap-4 bg-beeswax-200 dark:bg-fig-leaf-800"
>
  <a href="/" aria-label="Home Link">
    <Icon
      name="Logo"
      class="w-56 h-auto p-2 text-fig-leaf-900 dark:text-honey-cream-50"
      title="Go Home to El Camino"
    />
  </a>
</header>
<Nav />
