---
const navItems = [
  {
    label: "Skateboarding",
    url: "/styleguide",
  },
  {
    label: "Accessories",
    url: "/styleguide",
  },
  {
    label: "Apparel",
    url: "/styleguide",
  },
  {
    label: "About El Camino",
    url: "/about",
  },
  {
    label: "News",
    url: "/news",
  },
];
---

<nav class="flex flex-col md:flex-row w-full gap-2 justify-center border-border-secondary bg-surface-secondary absolute md:relative top-16 md:top-auto">
  {
    navItems.map((e) => (
      <a
        href={e.url}
        class="nav-item text-xl md:text-base self-start md:self-center leading-[1] p-4 text-ui-nav-text hover:text-ui-nav-hover hover:bg-surface-tertiary transition-colors"
      >
        {e.label}
      </a>
    ))
  }
</nav>
