---
const navItems = [
  {
    label: "Skateboarding",
    url: "/styleguide",
  },
  {
    label: "Footwear",
    url: "/styleguide",
  },
  {
    label: "Apparel",
    url: "/styleguide",
  },
  {
    label: "Accessories",
    url: "/styleguide",
  },
  {
    label: "About El Camino",
    url: "/styleguide",
  },
];
---

<nav
  class="hidden lg:flex w-full gap-1 justify-center sticky top-0 z-50 -mb-1 bg-beeswax-200 dark:bg-fig-leaf-800 border-b-4 border-b-beeswax-100 dark:border-b-fig-leaf-900"
>
  {
    navItems.map((e) => (
      <a href={e.url} class="nav-item text-base leading-[1] p-4">
        {e.label}
      </a>
    ))
  }
  <a href="/cart" class="nav-item text-base leading-[1] p-4"> Cart </a>
</nav>
