---

---

<nav
  class="flex w-full gap-1 justify-center sticky top-0 z-50 bg-beeswax-100 dark:bg-fig-leaf-800"
>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Nav Item</a>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Nav Item</a>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Nav Item</a>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Nav Item</a>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Nav Item</a>
</nav>
