---
const navItems = [
  {
    label: "Skateboarding",
    url: "/styleguide",
  },
  {
    label: "Accessories",
    url: "/styleguide",
  },
  {
    label: "Apparel",
    url: "/styleguide",
  },
  {
    label: "About El Camino",
    url: "/styleguide",
  },
  {
    label: "News",
    url: "/articles",
  },
];
---

<nav class="flex flex-col md:flex-row w-full gap-2 justify-center">
  {
    navItems.map((e) => (
      <a
        href={e.url}
        class="nav-item text-base leading-[1] p-4 text-ui-nav-text hover:text-ui-nav-hover transition-colors"
      >
        {e.label}
      </a>
    ))
  }
</nav>
