---

---

<nav
  class="flex w-full gap-1 justify-center sticky top-0 z-50 -mb-1 bg-beeswax-200 dark:bg-fig-leaf-800 border-b-4 border-b-beeswax-100 dark:border-b-fig-leaf-900"
>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Skateboarding</a>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Footwear</a>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Apparel</a>
  <a href="#0" class="nav-item text-base leading-[1] p-4">Accessories</a>
  <a href="#0" class="nav-item text-base leading-[1] p-4">About El Camino</a>
</nav>
