---

---

<aside
  class="sidebar col-span-full md:col-span-2 md:col-start-1 md:row-span-12 md:row-start-5 flex flex-col gap-1 p-12 sm:p-32 md:p-24 lg:p-16 xl:p-24"
>
  <h3 class="font-display py-8 px-2 border-b-4 border-fig-leaf-500">
    Shop by Category
  </h3>
  <a href="#0" class="category-link block relative">
    <img
      src="/images/category-skateboarding.png"
      alt=""
      class="category-img object-cover w-full h-auto"
    />
    <h4
      class="category-title font-display absolute bottom-0 p-8 w-3/4 border-b-4 border-fig-leaf-500"
    >
      Skateboarding
    </h4>
  </a>
  <a href="#0" class="category-link block relative">
    <img
      src="/images/category-footwear.png"
      alt=""
      class="category-img object-cover w-full h-auto"
    />
    <h4
      class="category-title font-display absolute bottom-0 p-8 w-3/4 border-b-4 border-fig-leaf-500"
    >
      Footwear
    </h4>
  </a>
  <a href="#0" class="category-link block relative">
    <img
      src="/images/category-apparel.png"
      alt=""
      class="category-img object-cover w-full h-auto"
    />
    <h4
      class="category-title font-display absolute bottom-0 p-8 w-3/4 border-b-4 border-fig-leaf-500"
    >
      Apparel
    </h4>
  </a>
  <a href="#0" class="category-link block relative">
    <img
      src="/images/category-accessories.png"
      alt=""
      class="category-img object-cover w-full h-auto"
    />
    <h4
      class="category-title font-display absolute bottom-0 p-8 w-3/4 border-b-4 border-fig-leaf-500"
    >
      Accessories
    </h4>
  </a>
</aside>
