---
import { Icon } from "astro-icon/components";
import { ThemeSwitch } from "astro-color-scheme";

const { classes, ...rest } = Astro.props;
---

<ThemeSwitch strategy="button">
  <button class:list={["inline-flex flex-row", classes]} {...rest}>
    <Icon class="block dark:hidden h-5 w-5 my-1" name="uil:sun" />
    <Icon class="hidden dark:block h-5 w-5 my-1" name="uil:moon" />
    <span class="font-sans dark:hidden text-sm p-1">Light Mode</span>
    <span class="font-sans hidden dark:block text-sm p-1">Dark Mode</span>
  </button>
</ThemeSwitch>
