---
import { Icon } from "astro-icon/components";
import { ThemeSwitch } from "astro-color-scheme";
---

<ThemeSwitch strategy="button">
  <button class="flex flex-row content-center">
    <Icon class="block dark:hidden h-5 w-5 m-1" name="Sun" />
    <Icon class="hidden dark:block h-5 w-5 m-1" name="Moon" />
    <span class="sr-only">Toggle Theme</span>
    <span class="dark:hidden font-light text-sm p-1">Light Mode</span>
    <span class="hidden dark:block font-light text-sm p-1">Dark Mode</span>
  </button>
</ThemeSwitch>
